div.SmartClipboard{		color:#000; font:12px tahoma, arial !important;
						text-decoration:none; text-transform:none; word-spacing:normal; }
div.SmartClipboard img		{ display:inline; }
div.SmartClipboard textarea	{ color:#000; font:12px tahoma, arial; padding:0px 5px 10px 5px; margin:0px; }

div.clipboard_tab{		color:#000; font:12px tahoma, arial; text-decoration:none; text-transform:none; word-spacing:normal;
						position:absolute; top:7px; height:23px; z-index:9997;
						border-radius:5px 5px 0px 0px; padding:3px 10px 0px 10px; box-shadow:0 0 10px #000; cursor:pointer;
						background-color:#FFF; background-image:url(http://www.codog.de/SmartClipboard/frame1.png); display:inline; }
						
div.clipboard_page{		color:#000; font:12px tahoma, arial; text-decoration:none; text-transform:none; word-spacing:normal;
						position:absolute; top:30px; height:400px; left:10px; width:480px; z-index:9998;
				 		background-color:#FFF; background-image:url(http://www.codog.de/SmartClipboard/frame1.png); box-shadow:0 0 10px #000;
				 		overflow-y:auto; overflow-x:hidden; }
div.clipboard_page a{	text-decoration:none; cursor:pointer; color:#09F; }
div.clipboard_entry{	color:#000; font:12px tahoma, arial; text-decoration:none; text-transform:none; word-spacing:normal;
						width:460px; border:0px; padding:0px; margin:5px 10px 0px 10px; text-align:left; cursor:pointer; }

div.clipboard_entry span{ font:12px tahoma, arial normal; text-decoration:none; text-transform:none; word-spacing:normal; }
 
#SmartClipboard_frame{  position:fixed; top:50%; height:440px; margin-top:-230px; left:50%; width:500px; margin-left:-250px; z-index:9996;
						background-color:rgba(0,0,0,0.5); box-shadow:0 0 10px #000; overflow:hidden; border-radius:5px;
						background-image:url(http://www.codog.de/SmartClipboard/frame1.png); }
						
#SmartClipboard{		z-index:9999; }

#SmartClipboard_trash{ 	display:none; }
#SmartClipboard_pretext{display:none; }
#SmartClipboard_info{ 	display:none; padding-bottom:30px; }
#SmartClipboard_info p{ display:table-cell; vertical-align:middle; text-align:center; line-height:normal; color:#333; }
#SmartClipboard_info p *{ font-size:12px; font-family:tahoma, arial; }
#SmartClipboard_info a.button{	background-color:#09F; background-image:none; color:#FFF;
								border-radius:5px; padding:10px 20px; box-shadow:0px 0px 5px #333;
								font-weight:bold; font-size:12px; margin:5px; display:inline-block; }
#clipboard_tab{			left:10px; width:auto; }
#pretext_tab{			left:70px; width:auto; }
#trash_tab{				left:165px; width:auto; }
#info_tab{				right:40px; width:auto; }
#close_tab{				right:10px; width:auto; background-color:#F63; }

#SmartClipboard_externaldata{ position:fixed; top:0px; height:100px; right:0px; width:200px; background-color:#F00; }